* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

nav h2 {
    font-size: 45px;
}

header {
    background-color: #FFF8F3;
    background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3;
    background-repeat: no-repeat;
    background-position: 13px 13px, bottom right;
    background-size: 85px auto, 700px auto;

}

nav:hover {
    color: #474747;
}

button:hover {
    color: #474747;
}

nav {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.btn {
    background-color: #FD6E0A;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    cursor: grab;
    border: none;


}

.logo {
    font-size: large;
    font-weight: 900;
    align-items: center;

}

.orange {
    color: #FD6E0A;
}

nav .manu {
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;

}

nav .manu a {
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}

#banner .banner-content {
    max-width: 585px;
}

#banner {
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content h2 {
    color: #474747;
    font-weight: 600px;
    font-size: 45px;
}

#banner .banner-content h1 {
    color: black;
    font-weight: bold;
    font-size: 85px;
}

#banner .banner-content p {
    color: #757575;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}

#banner .banner-image img {
    max-width: 585px;
    vertical-align: middle;
}

#about {
    margin: 0 auto;
    margin-top: 80px;
    margin-left: 231px;
    margin-right: 231px;
    width: 71%;
    height: 549px;
    background-color: #FFF8F3;
    padding: 145px 169px;
    align-items: center;
    justify-content: center;
}

#about .about-container {
    display: flex;
}

#about .h2 {
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: bold;
}

#about .about-container .about-heading .p1 {
    color: #757575;
    font-size: 18px;
    font-weight: 100px;
    text-align: center;
    margin-bottom: 30px;
}

#about .about-card {
    display: flex;
    justify-content: space-around;
}


#about .about-card .card-info p {
    font-size: 20px;
    font-weight: 100px;
    color: #757575;
}

#about .about-card .card-info h4 {
    font-size: 15px;
    font-weight: bold;
}

#skill {
    margin: 0 auto;
    margin-top: 130px;
    align-items: center;
    width: 71%;
    max-width: 1140px;
}

#skill .skill-heading .s-h2 {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

#skill .skill-heading .s-p {
    color: #757575;
    font-weight: 18px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 50px;

}

#skill .skill-card {
    width: 100%;
    max-width: 1140px;
    display: flex;
    gap: 24px;
    align-items: center;
    padding: 30px;
    margin: 0 auto;
    align-items: stretch;
    flex-wrap: wrap;
}

#skill .skill-card .s-card {
    flex: 1;
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #00000073;
    padding: 30px;

}

#skill .skill-card h4 {
    margin-bottom: 23px;
    font-size: 19px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;


}

#skill .skill-card img {
    max-width: 44px;
    margin-bottom: 30px;
}

#skill .skill-card p {
    font-size: 16px;
    color: #757575;
    line-height: 20px;

}

#resume {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 50px;
}

#resume .resume-details {
    display: flex;
    gap: 18px;
}

#resume h2 {
    margin-top: 130px;
    font-size: 35px;
    font-weight: 700;
    color: black;
    text-align: center;
    margin-bottom: 113px;
}

#resume h4 {
    font-size: 27px;
    font-weight: 600;
    /* line-height: 40px; */
    /* font-style: bold; */
    color: var(--Dark 02, rgba(71, 71, 71, 1));
}

#resume h5 {
    font-size: 21px;
    font-weight: 400;
    color: var(--Dark 02, rgba(71, 71, 71, 1));
    margin-top: 30px;
}

#resume .p-1 {
    font-size: 17px;
    font-weight: 200;
    font-style: 100px;
    margin-top: 10px;
    color: var(--Dark 03, rgba(117, 117, 117, 1));
}


#resume .p-2 {
    font-size: 14px;
    font-weight: 100;
    font-style: 90px;
    margin-top: 20px;
    color: var(--Dark 03, rgba(117, 117, 117, 1));
    margin-bottom: 20px;
    text-align: left;
}

.button {
    margin: 0 auto;
    width: 71%;
    max-width: 1140px;
    text-align: center;
}

#buttom-container {
    display: flex;
    width: 1600px;
    height: 750px;
    background-color: #FFF8F3;
    margin-top: 113px;
    padding: 130px 230px;
    gap: 50px;
}

.b-h {
    font-size: 30px;
    font-weight: 500;
    font-style: bold;
}

.last-paragraph {
    color: var(--Dark 02, rgba(71, 71, 71, 1));
    font-size: 15px;
    font-weight: 300;
    text-align: left;
    margin-top: 20px;
}

.img-a {
    margin-top: 30px;
}

.img-a a {
    margin-right: 24px;
}



.form input[type="text"] {
    display: block;
    width: 461px;
    height: 60px;
    padding: 18px 349px 18px 30px;
    border: none;
    border-radius: 5px;
    margin-bottom: 19px;
    margin-top: 28px;
    color: #757575;
}

.textarea {
    width: 461px;
    height: 180px;
    padding: 18px 349px 18px 30px;
    border: none;
    border-radius: 5px;
    margin-bottom: 19px;
    margin-top: 28px;
    color: #757575;
}


/* responsive section */

@media screen and (max-width:576px) {


    /* header */
    nav h2 {
        font-size: 20px;
    }

    header {
        background-color: #FFF8F3;
        background: url(../images/header_bg.png), #FFF8F3;
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: 100%;

    }

    nav:hover {
        color: #474747;
    }

    button:hover {
        color: #474747;
    }

    nav {
        flex-direction: column;
        align-items: center;

    }

    .btn {
        background-color: #FD6E0A;
        color: white;
        padding: 18px 35px;
        border-radius: 5px;
        cursor: grab;
        border: none;
        gap: 5px;


    }

    .logo {
        font-size: large;
        align-items: center;
        align-items: center;
        margin-bottom: 10px;

    }

    .orange {
        color: #FD6E0A;
    }

    nav .manu {
        flex-direction: column;
        list-style-type: none;
        align-items: center;

    }

    nav .manu a {
        flex-direction: column;
        text-align: center;
        font-size: 20px;
        color: #474747;
    }

    #banner .banner-content {
        max-width: 700px;
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;

    }

    #banner {
        padding: 20px 25px 0;
        margin: 0;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    #banner .banner-content h2 {
        color: #474747;
        font-size: 17px;
    }

    #banner .banner-content h1 {
        color: black;
        font-weight: bold;
        font-size: 30px;
    }

    #banner .banner-content p {
        color: #757575;
        font-size: 11px;
        margin-bottom: 30px;
    }

    #banner .banner-image img {
        max-width: 100%;

    }

    /* skill section */
    #skill {
        margin: 0 auto;
        margin-top: 130px;
        align-items: center;
        width: 71%;
        max-width: 1140px;
    }

    #skill .skill-card {
        width: 100%;
        max-width: 1140px;
        display: flex;
        gap: 24px;
        align-items: center;
        padding: 15px;
        margin: 0 auto;
        align-items: stretch;
        flex-wrap: wrap;
    }

    #skill .skill-heading .s-p {
        color: #757575;
        font-weight: 15px;
        line-height: 29px;
        text-align: center;
        margin-bottom: 50px;

    }

    #skill .skill-card h4 {
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;


    }

    /* about responsive */

    #about {
        margin: 0 auto;
        margin-top: 80px;
        width: 100%;
        height: 850px;
        background-color: #FFF8F3;
        padding: 100px;
        align-items: center;
        justify-content: center;
    }

    #about .about-card {
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }

    #about .h2 {
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: bold;
    }

    /* resume responsive */

    #resume {
        width: 100%;
        max-width: 1140px;
        margin: 0 auto;
        margin-bottom: 10px;
        padding: 55px;
    }

    #resume .resume-details {
        flex-direction: column;
        gap: 50px;
    }

    #resume h2 {
        margin-top: 130px;
        font-size: 29px;
        color: black;
        text-align: center;
        margin-bottom: 30px;

    }

    .button {
        margin: 0 auto;
        width: 100%;
        max-width: 1140px;
        text-align: center;
    }

    /* footer section */

    #buttom-container {
        width: 100%;
        height: auto;
        background-color: #FFF8F3;
        margin-top: 113px;
        padding: 40px 30px;
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }

    .b-h {
        font-size: 18px;
        font-style: bold;
    }

    .last-paragraph {
        color: var(--Dark 02, rgba(71, 71, 71, 1));
        font-size: 12px;
        font-weight: 100;
        text-align: left;
        margin-top: 20px;
    }

    .img-a {
        margin-top: 20px;
    }

    .img-a a {
        margin-right: 20px;
    }



    .form input[type="text"] {
        width: 100%;
        max-width: 100%;
        border: none;
        border-radius: 5px;
        color: #757575;
        margin: 20px auto;
        padding: 20px 20px;
    }

    .textarea {
        width: 100%;
        max-width: 100%;
        border: none;
        border-radius: 5px;
        color: #757575;
        margin: 20px auto;
        padding: 20px 20px;
    }



}